<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<title>Ninja Gold</title>
	<link rel="stylesheet" type="text/css" href="../static/ninja_gold.css">
</head>

<body>
	<h1>Your Gold: {{session['gold_total']}}</h1>
	
	<div class="task">
		<h2>Farm</h2>
		<p>(Earns 10-20 gold)</p>
		<form action="/process_money" method="POST">
			<input type="hidden" name="activity" value="farm">
			<input type="submit" value="Find Gold!">
		</form>
	</div>

	<div class="task">
		<h2>Cave</h2>
		<p>(Earns 5-10 gold)</p>
		<form action="/process_money" method="POST">
			<input type="hidden" name="activity" value="cave">
			<input type="submit" value="Find Gold!">
		</form>
	</div>
	
	<div class="task">
		<h2>House</h2>
		<p>(Earns 2-5 gold)</p>
		<form action="/process_money" method="POST">
			<input type="hidden" name="activity" value="house">
			<input type="submit" value="Find Gold!">
		</form>
	</div>

	<div class="task">
		<h2>Casino</h2>
		<p>(Takes 0-50 gold)</p>
		<form action="/process_money" method="POST">
			<input type="hidden" name="activity" value="casino">
			<input type="submit" value="Find Gold!">
		</form>
	</div>

	<div id="messages">
		{% for activity in session['activities'] %}
			<p>{{activity}}</p>
		{% endfor %}
	</div>

	<form action="/reset" method="get">
		<input type="submit" value="Restart?">
	</form>

</body>
</html>
