<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Want to be a Ninja???</title>
</head>
<body>
	<form action="" method="post">
		<h1>My Registration Form</h1>

		<label for="first_name">First Name:</label>
		<input type="text" id="first_name" name="first_name"><br><br>

		<label for="last_name">Last Name:</label>
		<input type="text" id="last_name" name="last_name"><br><br>

		<label for="email">Email:</label>
		<input type="text" id="email" name="email"><br><br>

		<label for="password">Password:</label>
		<input type="password" id="password" name="password"><br><br>

		<label for="pwconfirm">PW Confirm:</label>
		<input type="password" id="pwconfirm" name="pwconfirm"><br><br>

		<label for="birthday">Birthday:</label>
		<input type="date" id="birthday" name="birthday"><br><br>

		<label for="male">Male</label>
		<input type="radio" id="male" name="gender" value="male">

		<label for="female">Female</label>
		<input type="radio" id-"female" name="gender" value="female">

		<label for="other">Other</label>
		<input type="radio" id-"other" name="gender" value="other"><br><br>

		<b>A short description about yourself:</b><br>
		<textarea name="description"></textarea><br><br>

		<select name="favlang">
			<option value="JavaScript">JavaScript</option>
			<option value="C++">C++</option>
			<option value="Pascal">Pascal</option>
		</select><br><br><br>

		<input type="submit" value="Submit">

	</form>
</body>
</html>
